{% include head.html %}
{% include banner.html %}

{% assign path = page.path | split: '/' %}
{% assign courseno = path[0] %}
{% assign course = site.data[courseno] %}

{% unless site.data.current.courses contains courseno %}
<h4>Course is currently inactive<h4><hr>
{% endunless %}

<h1>{{ course.title }}</h1>

<h3>Course Description</h3>

<p>{{ course.description }}</p>

<h3>Links</h3>

<ul>
  <li><a href="syllabus.html">Syllabus</a></li>
  <li><a href="schedule.html">Schedule</a></li>
  <li><a href="assignments">Assignments</a></li>
</ul>

{{ content }}

{% include foot.html %}

